body
{
    background-color: rgb(238, 238, 238);

}
.card{
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin: 2em 2em; 
    border-radius: 0 0 0.3em 0.3em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a{
    background-color: rgb(0, 153, 0);
    text-decoration: none;
    color: white;
    border-radius: 0.2em;
    padding: 0.3em 0.3em;
    position: relative;
    left: 300px;
}
a:hover{
    background-color: red;
}
img{
    display: block;
    position: absolute;
    bottom: 95%;
    width: 100%;
    height: auto;
    border-radius:  0.3em 0.3em 0 0;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
}
.text{
    padding: 1em;
}
h3{
    font-family: Georgia, serif;
    font-size: 1em;
    height: 1.2;
}
@media(width<=500px){
    .card{
        width: 200px;
    }
    .img{
        width: 200px;
        height: auto;
    }
    a{
        left: 100px;
    }
}
@media(width>=1024px){
    .card{
        width: 700px;
        height: auto;
        top: 80%;
    }
    .img{
        width: 700px;
        height: auto;
    }
    a{
        left: 580px;
    }
}