@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:antiquewhite">

<div class="text-center">
    <h1 style="color:orangered">Welcome</h1>
    
</div>
    <p2 style="color:orangered">Welcome to my Web App.</p2>
</body>