@media(width<=600px){
    .home-cta-btn{
     padding-top: 6px;
    padding-left: 30px;
    border-radius: 34px;
    padding-right: 30px;
    padding-bottom: 6px;
    font-size: 14px;
    }
    .home-hero{
        flex-direction: column-reverse;
        padding-left: 20px;
        padding-right: 20px;
    }
    .home-image1{
        width: 100%;
        height: auto;
    }
    .home-hero-text-container{
        margin-left: 0px;
        align-content: center;
        width: auto;
    }
    .home-cta-btn2{
        width: 10em;
        align-self: center;
    }
    .home-heading-container{
        width: auto;
    }
    .home-cards-container{
       flex-direction: column;
    }
    .home-feature-card, .home-feature-card1, .home-feature-card2{
        width: auto;
    }
    .home-stats{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 900px;
    }
}