body{
    background-color: rgb(208, 208, 208);
}
tr:nth-child(1) td{
    background-color: rgb(30, 30, 30);
    color: white;
}
tr:nth-child(2) td{
background-color: rgb(242, 242, 242);
}
tr:nth-child(3) td{
    background-color: rgb(255, 255, 255);
}
td,th{
    width: 400px;
    padding: 0.1em 0.4em;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}
@media(width>=1024px)
{
    td,th{
        width: 400px;
        padding: 0.2em 0.4em;
        font-size: 14px;
    }
}
@media(width>=800px)
{
    td,th{
        width: 250px;
        padding: 0.2em 0.3em;
        font-size: 13px;
    }
}